$breakpoint-tablet: 1200px;
$breakpoint-mobile: 640px;

/*
 * PrefCheckbox
 */
.pref_checkbox--label {
  display: flex;
  gap: 6px;
  align-items: center;
}

.pref_checkbox--input {
  width: 24px;
  height: 24px;
}

.pref_checkbox--text {
  font-size: 24px;
  line-height: 36px;
}

/*
 * PrefCheckboxes
 */

.pref_checkboxes--pref_checkboxes {
  list-style: none;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  @media screen and ($breakpoint-mobile < width <= $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (width <= $breakpoint-mobile) {
    grid-template-columns: 1fr 1fr;
  }
}

.pref_checkboxes--title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 12px;
}

.trend--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 16px;
}
